<div class="card filters">
    <div class="card-header"><strong>Filter By Price</strong> </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from">from</label>
                <input type="number" id="from" class="form-control">
            </div>
            <div class="form-group">
                <label for="to">To</label>
                <input type="number" id="to" class="form-control">
            </div><br>
            <button class="btn btn-primary btn-block">Filter By Price</button>
        </form>
    </div>
</div>

